.loader {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
  border-top: 0.4em solid rgba(0, 140, 255, 0.3);
  border-right: 0.4em solid rgba(0, 140, 255, 0.3);
  border-bottom: 0.4em solid rgba(0, 140, 255, 0.3);
  border-left: 0.4em solid #55adffad;
}
.text {
  color: white;
}

.success {
  font-size: 1.6rem;
}
